<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragment/car_header::headerFragment}"></th:block>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <th:block layout:fragment="contentFragment"></th:block>
        </div>
    </div>
</body>

</html>