<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/car_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행 되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="row" style="margin-left: 650px;">
        <div class="col">
            <div class="row">
                <div class="col">
                    -차량 등록
                </div>
            </div>
            <div class="row">
                <div class="col">
                    제조사
                    <select name="" id="">
                        <option value="현대">현대</option>
                        <option value="기아">기아</option>
                        <option value="쌍용">쌍용</option>
                    </select>
                    모델명 <input type="text" name="modelName">
                    차량가격 <input type="text" name="price">
                </div>
            </div>
            <div class="row" style="margin-left: 550px;">
                <div class="col">
                    <input type="submit" value="등록">
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행 되는 js-->
    <!-- <script src="/"></script> -->
</th:block>

</html>